{% extends 'base.html.twig' %}

{% block content %}
{% for post in posts %}
    <h3><a href="/show/{{ post.id }}">{{ post.title }}</a></h3>
    {{ post.body }}
{% endfor %}
<a href="/create">create</a>
{% endblock %}